@charset "utf-8";
/* CSS Document */

body{
	background: #f3f3f3 url(../img/bg_login_top.jpg) no-repeat top center;
	color: #bebebe;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin: 0;
}
#loginform{
	width: 300px;
	margin:0 auto;
	padding: 20px;
	background:#808080;	
}
#loginform p {
	width:280px;
	height:25px;
	line-height:25px;
	
}
#loginform p input{
	float: right;
	width: 60%;
	border: 2px solid #ff8800;
}
#loginform a {
     color:#fff;
	 float:right;
     text-decoration:none;
}

#loginform a:hover {
	color:#ff8800
}
#footer{
	margin: 0 15px;
	text-align: center;
	text-shadow: 1px 1px 0px #ffffff;
}
#loginform .anmelden{
	background: #F3F3F3 url(../img/i_ok.png) no-repeat 4px center;
	padding-left: 25px;
}