.panel-heading {
    padding: 5px 15px;
	color:#FFA601
}

.panel-footer {
	padding: 1px 15px;
	color:#FFA601
	
}

.profile-img {
	width: 96px;
	height: 96px;
	margin: 0 auto 10px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
#footer{
	margin: 0 15px;
	text-align: center;

}

body {
    background-color: #000000;

}
video#bgvid {
position: fixed; right: 0; bottom: 0;
min-width: 100%; min-height: 100%;
width: auto; height: auto; z-index: -100;
background: url(polina.jpg) no-repeat;
background-size: cover;